{
  "presets": [
    ["env", {
      "targets": {
        "node": true,
        "uglify": true
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
