DATABASE_DIALECT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=piper
DATABASE_USER=root
DATABASE_PASSWORD=
QINIU_ACCESS_KEY=YOUR QINIU AK
QINIU_SECRET_KEY=YOUR QINIU SK
QINIU_BUCKET=YOUR QINIU BUCKET
QINIU_BASEURL=YOUR QINIU URL
OPADS_URL=YOUR OPADS URL
OPADS_PROJECT=YOUR OPADS PROJECT
OPADS_AUTHKEY=YOUR OPADS AUTHKEY
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_CALLBACK_URL=
