<!DOCTYPE html>
<html lang="zh-CN" data-rem="375">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="format-detection" content="telephone=no">
    <title><%= page.title %></title>
    <script type="text/javascript">
      window.PIPER_DATA = <%- JSON.stringify(page) %>
    </script>
  </head>
  <body>
    <div id="preview"></div>
  </body>
</html>
