.expand-transition {
  height: 30px;
  transition: height .3s ease, opacity .3s ease;
  overflow: hidden;
}

.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}

.scale-transition {
  transform: scale(1);
  transform-origin: right bottom;
  transition: transform .3s ease, opacity .3s ease;
  opacity: 1;
}

.scale-enter, .scale-leave {
  transform: scale(0);
  opacity: 0;
}
